* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 16px;
}

.body {
    display: flex;
}

.switch {
    width: 56px;
    height: 30px;
    position: absolute;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 0;
    margin: 30px;
    top: 10px;
    right: 0px;
    cursor: pointer;
}

.switch:after {
    content: "";
    width: 29px;
    height: 29px;
    position: absolute;
    background-color: rgb(0, 0, 0);
    border-radius: 4px;
}

#active {
    padding: 0;
    margin: 30px;
    position: absolute;
    right: 0;
    visibility: hidden;
}

#active:checked + .body .switch-mode .switch:after  {
    left: 25px;
}

#active:checked ~ .body {
    background: #3f3f3f;
    color: rgb(233, 233, 233);
}

svg {
    position: absolute;
    width:50px;
    height: 25px;
    color: white;
    z-index: 10;
}

svg:nth-child(1){
    left: -12px;
}
svg:nth-child(2){
    left: 16px;
}

.forms {
    padding: 20px 20px;
    margin: 30px auto;
    width: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #ddd;
}

h1 {
    font-size: 22px;
    text-transform:uppercase;
}

.centro {
    margin: 10px auto;
}

input, label, textarea, select {
    margin-bottom: 10px;
}

input, textarea {
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="email"], input[type="tel"], input[type="text"] {
    height: 24px;
}

textarea {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px;
}

p {
    margin-bottom: 10px;
}

.checkboxBtn {
    position: relative;
    display: flex;
    width: 220px;
    justify-content: space-between;

}

input[type="checkbox"] {
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #ddd;
}

input[type="checkbox"]:checked {
    background-color: rgb(255, 255, 255);
    border: 5px solid rgb(0, 0, 0)
}

select {
    height: 42px;
    width: 100%;
    padding: 10px 15px;
    font-size: 16px;
    appearance: none;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.select {
    position: relative;
}

.select:after {
    content: "";
    position: absolute;
    right: 8px;
    top: 40%;
    margin-top: -4px;
    border-top: 8px solid black;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    pointer-events: none;
}

button {
    background-color: rgb(255, 255, 255);
    border: 1px solid black;
    font-weight: bold;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    padding: 10px 40px;
}

button:hover {
    background-color: rgb(0, 0, 0);
    color: white;
    animation: btnOpacity 0.3s;
}

input[type="radio"] {
    display: none;
}

.radioBtn {
    position: relative;
    font-size: 16px;
    border: 1px solid #ddd;
    padding: 7px 14px;
    display: flex;
    align-items: center;
    border-radius: 5px;
}

input[type="radio"]:checked + label {
    background-color: rgb(0, 0, 0);
    font-weight: bold;
    color: white;
}

@keyframes btnOpacity {
    from {
        opacity: 0%
    }
    to {
        opacity: 100
    }
}

@media (max-width: 800px) {
    .body {
        /* background: red; */
    }
    .forms {
        width: 550px;
    }
}

@media (max-width: 700px) {
    .forms {
        width: 450px;
    }
}